<app-menu></app-menu>

<section id="project" class="main-content">
  <div class="container">
    <h5 class="section-title h1">Consulta la humedad</h5>
      
    <div id="maps">
      <agm-map 
      [latitude]="lat" 
      [longitude]="lng" 
      [zoom]="zoom"
      [fitBounds]="true"
      (mapClick)="placeMarker($event)">
    
      <agm-marker *ngFor="let marker of markers" 
        [latitude]="marker.position.lat" 
        [longitude]="marker.position.lng"
        [label]="marker.label"
        [agmFitBounds]="true">
      </agm-marker>
    </agm-map>
    </div>
 

    <!-- <form class="formulario" [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form">
          <br>

          <label for="type">Tipo de vehículo</label>
          <input type="text" name="type" class="form-control" formControlName="type" id="type" required> 

          <label for="license_plate">Placa</label>
          <input type="text" name="license_plate" class="form-control" formControlName="license_plate" id="license_plate" required> 

          <label for="brand_id">Marca</label>
          <select name="brand_id" id="brand_id" class="form-control" formControlName="brand_id" required>
            <option *ngFor="let brand of brands" 
              
              [value]="brand.id">
              {{brand.name}}
           </option>
          </select>

          <label for="user_id">Propietario</label>
          <select name="user_id" id="user_id" class="form-control" formControlName="user_id" required>
            <option *ngFor="let user of users" 
              
              [value]="user.id">
              {{user.name}}
           </option>
          </select>

        </div>
       <br>
        <button id="btn-save" type="submit" class="btn btn-primary">Añadir</button>
      </form> -->
      <br>
      <br>
  </div>
</section>
